.header{
    background-color: rgba(0, 0, 254);
    text-align: center;
}

body{
    background-color: rgba(239, 214, 233);
}

.ul1{
    color: rgba(162, 113, 198);
}

.ul2{
    color: rgba(229, 108, 86);
    
}

.side4{
    border-bottom: 2px dotted purple;
    border-top: 2px solid yellow;
}

.ul22{
    list-style-type: circle;
}

img {
    width: 600px;
    height: 400px;
    border: 10px solid purple;
    margin: 20px;
}

.img4{
    border-bottom: 10px solid aqua;
}

.img2{
    border-top-left-radius: 500px 100px;
}

.miniimage{
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 30px;
}